body {
  background-color: #FAD4C0;
}
/* change and edit the nav bar*/
ul {
  display: inline-block;
  list-style-type: none;
  background-color: #986C6A;
  width 100%;
  margin 0;
  padding 0;
  left: 0;
  overflow: hidden
}
li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px 130px;
  text-align: center;
}
li a: hover {
  background-color: #FEE9E1;
}
