body {
  background-color: tan;
}
  /* change and edit the nav bar*/
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  width: 100%;
  left:0;
  background-color: gold
    
}

li {
  display: block;
  width: 60px;
  display: inline;
  padding: 50px 100px;
  text-decoration: none; 
}
li a: hover {
  
}
